a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}
// body, html{
// 	height:100%;
// }

img {
	max-width: 100%;
}

span {
	display: inline-block;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;

body {
	font-family: 'Roboto', sans-serif;
	line-height: 20px;
}
// .wrapper {
//  	display: flex;
//   	flex-direction: column;
//   	height: 100%;
// }
// .content {
//   	flex: 1 0 auto;
// }
// .footer {
//   	flex: 0 0 auto;
// }

.vertical-align {
	vertical-align: middle;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

a,
input,
textarea {
	outline: none;
}
// container

.container-content {
	max-width: 1336px;
	width: 100%;
	padding: 0 5px;
	margin: 0 auto;
}
// header

.header-logo {
	position: relative;
}

.main-nav {
	background: white;
	padding: 10px;
	position: absolute;
	top: 0;
	height: 100%;
	left: -500px;
	transition: 0.5s;
	@media (min-width: 992px) {
		position: unset;

		ul {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}
	}
}

.nav-show {
	left: -6px;
}

.menu-bars {
	background: white;
	padding: 5px;
	width: 64px;
	height: 64px;
	box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
	position: absolute;
	right: 15px;
	top: 32px;
	@media (min-width: 992px) {
		display: none;
	}

	&_inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #e9ecef;
		height: 100%;
		padding-top: 4px;
	}
}

.menu-bars_inner span {
	width: 40px;
	height: 6px;
	margin: 5px 0;
	background: #495057;
}

.header-info {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-info_item {
	margin: 10px;
}

.header-info_item li {
	font-family: 'Montserrat', sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #959595;
	@media (min-width: 992px) {
		text-align: right;
	}
}

.main-nav a {
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #009487;
	display: inline-block;
	padding: 11px 6px;
	@media (min-width: 768px) {
		padding: 11px 20px;
	}
	@media (min-width: 1200px) {
		padding: 11px 26px;
	}
}
@media (min-width: 768px) {
	.main-nav a:hover {
		background: #009487;
		border-radius: 2px;
		color: white;
	}
}
@media (min-width: 992px) {
	header {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}

	.header-cont_inner {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}

	.header-info {
		margin-left: auto;
	}

	.header-cont {
		width: 100%;
	}

	.header-logo {
		width: 176px;
		height: 162px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: unset;
		}
	}
}
