a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

span {
  display: inline-block; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 20px; }

.vertical-align {
  vertical-align: middle; }

.clear {
  clear: both; }

.center {
  text-align: center; }

a,
input,
textarea {
  outline: none; }

.container-main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.container-content {
  max-width: 1336px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto; }

.banner-container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto; }

@media (min-width: 768px) {
  .banner {
    padding-top: 160px; } }

.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 59px;
  font-size: 56px;
  color: #000000; }

.main-text {
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #000000; }

.modal {
  display: none; }

@media (min-width: 992px) {
  header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(64.64%, rgba(255, 255, 255, 0.01)));
    background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.01) 64.64%);
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0.01) 64.64%);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.01) 64.64%); } }

.header-logo {
  position: relative; }

.main-nav {
  background: white;
  padding: 10px;
  position: absolute;
  top: 0;
  height: 100vh;
  left: -500px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (min-width: 992px) {
    .main-nav {
      position: unset;
      background: none;
      height: unset; }
      .main-nav ul {
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.nav-show {
  left: -6px; }

.menu-bars {
  background: white;
  padding: 5px;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 15px;
  top: 32px; }
  @media (min-width: 992px) {
    .menu-bars {
      display: none; } }
  .menu-bars_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e9ecef;
    height: 100%;
    padding-top: 4px; }

.menu-bars_inner span {
  width: 40px;
  height: 6px;
  margin: 5px 0;
  background: #495057; }

.header-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-info_item {
  margin: 10px; }

.header-info_item li {
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  font-size: 12px;
  color: #959595; }
  @media (min-width: 992px) {
    .header-info_item li {
      text-align: right; } }

.main-nav a {
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #009487;
  display: inline-block;
  padding: 11px 6px; }
  @media (min-width: 768px) {
    .main-nav a {
      padding: 11px 20px; } }
  @media (min-width: 1200px) {
    .main-nav a {
      padding: 11px 26px; } }

@media (min-width: 768px) {
  .main-nav a:hover {
    background: #009487;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    color: white; } }

@media (min-width: 992px) {
  .header-inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-cont_inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-info {
    margin-left: auto; }
  .header-cont {
    width: 100%; }
  .header-logo {
    width: 176px;
    height: 162px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header-logo img {
      max-width: unset; } }

.banner_about {
  background: url("../img/about-banner.jpg") no-repeat top center;
  -webkit-background-size: cover;
          background-size: cover; }

.banner-info {
  max-width: 637px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px 10px; }
  @media (min-width: 992px) {
    .banner-info {
      padding: 56px 93px 70px; } }
  .banner-info h1 {
    padding-bottom: 29px; }
  .banner-info p:nth-child(2) {
    padding-bottom: 30px; }

.polaToday .polaToday-item:nth-child(1) {
  text-align: center; }
  @media (min-width: 992px) {
    .polaToday .polaToday-item:nth-child(1) {
      margin-bottom: -5px; } }

.polaToday .polaToday-item:nth-child(2) {
  background: #11A190;
  -webkit-background-size: cover;
          background-size: cover; }
  @media (min-width: 992px) {
    .polaToday .polaToday-item:nth-child(2) {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      background: url("../img/about-bg-2-min.jpg") no-repeat top center;
      -webkit-background-size: cover;
              background-size: cover; } }
  .polaToday .polaToday-item:nth-child(2) .polaToday-info {
    background: #11A190;
    max-width: 631px;
    width: 100%;
    padding: 8px;
    color: white; }
    @media (min-width: 992px) {
      .polaToday .polaToday-item:nth-child(2) .polaToday-info {
        margin-left: auto; } }
    @media (min-width: 1280px) {
      .polaToday .polaToday-item:nth-child(2) .polaToday-info {
        padding: 80px 55px; } }
    .polaToday .polaToday-item:nth-child(2) .polaToday-info .main-title {
      color: white;
      padding-bottom: 30px; }
    .polaToday .polaToday-item:nth-child(2) .polaToday-info p:nth-child(2) {
      padding-bottom: 35px; }

@media (min-width: 992px) {
  .polaToday {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .polaToday .polaToday-item {
      width: 50%; } }

.operatedFleet {
  background: rgba(54, 176, 165, 0.58);
  padding: 30px 20px; }
  .operatedFleet .operatedFleet-inner {
    max-width: 954px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 768px) {
      .operatedFleet .operatedFleet-inner {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .operatedFleet .operatedFleet-inner .operatedFleet-count:first-child {
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        .operatedFleet .operatedFleet-inner .operatedFleet-count:first-child {
          margin-bottom: 0; } }
    .operatedFleet .operatedFleet-inner .operatedFleet-count {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .operatedFleet .operatedFleet-inner .operatedFleet-count .operatedFleet-count_item:first-child {
        position: relative;
        padding-right: 29px;
        margin-right: 29px; }
        .operatedFleet .operatedFleet-inner .operatedFleet-count .operatedFleet-count_item:first-child:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 104px;
          background: white;
          right: 0;
          top: -42px; }
      .operatedFleet .operatedFleet-inner .operatedFleet-count_item {
        font-size: 90px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        font-weight: 300; }
        @media (min-width: 768px) {
          .operatedFleet .operatedFleet-inner .operatedFleet-count_item {
            font-size: 125px; } }
      .operatedFleet .operatedFleet-inner .operatedFleet-count_item:nth-child(2) {
        font-size: 18px;
        color: #000000;
        font-weight: 500;
        line-height: 23px; }

.ourBuisness {
  background: url("../img/about-business.jpg") no-repeat top center;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 102px; }
  .ourBuisness .main-title {
    color: white;
    font-size: 56px;
    margin-bottom: 120px;
    text-align: center; }
    @media (min-width: 992px) {
      .ourBuisness .main-title {
        text-align: left; } }
  .ourBuisness .banner-info {
    max-width: 488px;
    width: 100%; }
  .ourBuisness-container {
    max-width: 1003px;
    width: 100%;
    margin: 0 auto; }

@media (min-width: 1200px) {
  .aboutServices {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .aboutServices-item:nth-child(2) {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.aboutServices-item {
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #009487;
  text-align: center; }
  .aboutServices-item:first-child {
    margin-bottom: -7px; }
  @media (min-width: 1200px) {
    .aboutServices-item {
      text-align: left;
      width: 50%; } }
  .aboutServices-item_inner {
    max-width: 460px;
    width: 100%;
    margin: 0 auto; }

.logisticalServices {
  background: #009487;
  padding: 62px 10px; }
  .logisticalServices-container {
    max-width: 1160px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: white;
    line-height: 38px;
    font-size: 36px;
    font-weight: 300;
    color: #FFFFFF; }
    @media (min-width: 1200px) {
      .logisticalServices-container {
        padding-left: 117px; }
        .logisticalServices-container:after {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          background: url("../img/about-k.png") no-repeat center;
          width: 46px;
          height: 43px; } }

.testemonials-box .main-text {
  margin: 15px auto; }
  @media (min-width: 992px) {
    .testemonials-box .main-text {
      margin: unset; } }

.testemonials-box_inner {
  color: white;
  padding: 20px;
  position: relative;
  padding: 90px 10px 34px;
  text-align: center; }
  @media (min-width: 992px) {
    .testemonials-box_inner {
      text-align: left;
      padding: 120px 78px 100px 71px; } }
  .testemonials-box_inner p {
    padding-top: 20px; }
  .testemonials-box_inner:after {
    position: absolute;
    content: "";
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 75px;
    height: 64px; }
    @media (min-width: 992px) {
      .testemonials-box_inner:after {
        top: 66px;
        left: 67px;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset; } }
  .testemonials-box_inner:nth-child(1):after {
    background: url("../img/about-ico-1.png") no-repeat center; }
  .testemonials-box_inner:nth-child(2):after {
    background: url("../img/about-ico-2.png") no-repeat center; }
  .testemonials-box_inner:nth-child(3):after {
    background: url("../img/about-ico-3.png") no-repeat center; }
  .testemonials-box_inner:nth-child(4):after {
    background: url("../img/about-ico-4.png") no-repeat center; }
  @media (min-width: 768px) {
    .testemonials-box_inner {
      width: 50%; } }

@media (min-width: 768px) {
  .testemonials-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .testemonials-box:last-child {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.testemonials-box_inner:nth-child(1), .testemonials-box_inner:nth-child(3) {
  background: #33A99F; }

.testemonials-box_inner:nth-child(2), .testemonials-box_inner:nth-child(4) {
  background: #4DB4AB; }

@media (min-width: 768px) {
  .testemonials-box_inner:nth-child(1), .testemonials-box_inner:nth-child(4) {
    background: #33A99F; }
  .testemonials-box_inner:nth-child(2), .testemonials-box_inner:nth-child(3) {
    background: #4DB4AB; } }

.testemonials .main-text {
  max-width: 448px;
  width: 100%;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #009487; }

.testemonials-box .main-text p:first-child {
  padding-bottom: 24px; }

@media (min-width: 992px) {
  .testemonials {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .testemonials-box {
      width: 50%; } }

.transported {
  max-width: 1160px;
  width: 100%;
  margin: 90px auto 0; }
  @media (min-width: 1320px) {
    .transported {
      max-width: 1318px; } }
  .transported .main-title {
    padding-bottom: 50px; }
    @media (min-width: 992px) {
      .transported .main-title {
        padding-bottom: 103px; } }

@media (min-width: 992px) {
  .transported-top {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.transported-img__inner {
  border: 1px solid white;
  margin-bottom: -7px;
  position: relative;
  overflow: hidden; }
  .transported-img__inner img {
    float: left; }
  .transported-img__inner:hover .transported-img_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  @media (min-width: 768px) {
    .transported-img__inner {
      max-width: 184px; } }
  @media (min-width: 992px) {
    .transported-img__inner {
      max-width: 247px; } }
  @media (min-width: 1200px) {
    .transported-img__inner {
      max-width: 290px; } }
  @media (min-width: 1320px) {
    .transported-img__inner {
      max-width: unset; } }

.transported-img {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 992px) {
    .transported-img {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

.transported-top_info {
  max-width: 497px;
  margin: 0 auto;
  width: 100%;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #000000; }
  .transported-top_info p {
    padding-bottom: 34px; }

.transported-img_title {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  font-weight: 300;
  font-size: 26px;
  display: none; }
  @media (min-width: 992px) {
    .transported-img_title {
      font-size: 56px; } }

.tradeRoutes-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.tradeRoutes {
  padding-top: 60px; }
  .tradeRoutes .main-title {
    max-width: 1310px;
    margin: 0 auto; }

.tradeRoutes-info_item {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding: 100px 21px 55px;
  max-width: 218px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent; }
  .tradeRoutes-info_item:hover {
    border-right: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7; }
  .tradeRoutes-info_item h3 {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    padding: 8px 0; }
  .tradeRoutes-info_item h3 + p {
    padding-bottom: 12px; }
  .tradeRoutes-info_item p {
    font-size: 12px;
    color: #9C9B9B; }
    .tradeRoutes-info_item p span {
      color: #000000;
      font-weight: 600; }

.tradeRoutes-info_img {
  width: 61px;
  height: 61px;
  overflow: hidden;
  position: absolute;
  top: 40px; }

.tradeRoutes-map {
  background: #E3F9FE;
  padding-top: 58px;
  margin-top: 56px; }

.breafInfo {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.breafInfo-item {
  position: relative;
  overflow: hidden; }
  .breafInfo-item img {
    height: 100%; }
  @media (max-width: 990px) {
    .breafInfo-item {
      margin: 0 10px;
      width: 100%; }
      .breafInfo-item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; } }
  @media (min-width: 1200px) {
    .breafInfo-item {
      max-width: 390px; } }
  @media (min-width: 1440px) {
    .breafInfo-item {
      max-width: unset; } }

.breafInfo-item_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 154, 215, 0.7);
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (min-width: 768px) {
    .breafInfo-item_inner {
      font-size: 36px; } }
  .breafInfo-item_inner:hover {
    background: rgba(0, 148, 135, 0.9); }

.footer {
  background: #0069A2;
  padding: 9px 15px 11px; }

.footer-info_item a {
  line-height: 18px;
  font-size: 10px;
  letter-spacing: 0.1px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #9FC7DC; }

.footerNav-box {
  text-align: center;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .footerNav-box {
      text-align: left;
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  .footer-links {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.footer-info_item .countrySelect {
  font-size: 12px;
  color: white;
  position: relative; }
  .footer-info_item .countrySelect:after {
    content: "";
    position: absolute;
    right: -16px;
    top: -5px;
    background: url("../img/marker.png") no-repeat center;
    width: 11px;
    height: 16px; }

.footer-contacts {
  max-width: 172px;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .footer-contacts {
      margin: unset;
      text-align: right; } }
  .footer-contacts p {
    font-weight: 300;
    padding: 12px 0;
    line-height: 11px;
    font-size: 10px;
    color: #FFFFFF; }

.footer-info {
  border-bottom: 1px solid #66A5C7;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .footer-info {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

@media (min-width: 768px) {
  .footer-logo {
    margin-right: 54px; }
  .footer-links ul:first-child {
    margin-right: 46px; }
  .footer-links ul:nth-child(2) {
    margin-right: 35px; } }

.footer-email,
.footer-phone {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px; }

.footer-email span:nth-child(1),
.footer-phone span:nth-child(1) {
  line-height: 8px;
  font-size: 8px;
  font-weight: 300;
  color: #FFFFFF; }

.footer-email span:nth-child(2),
.footer-phone span:nth-child(2) {
  line-height: 11px;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 500; }

.footer-copyright {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: 300;
  line-height: 18px;
  font-size: 10px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  opacity: 0.4; }
