extends layout.pug
block vars
	- var title = 'Main';
	- var index = '1'
block header
	include includes/header.pug
block content
	include includes/content-main.pug
block footer
	include includes/footer.pug