include includes/mixins.pug
doctype html
block vars
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		title #{title}
		include includes/links.pug
	body
		.wrapper
			if index == '1'
				.content.content-main
					block header

					block content
				.footer-wrap
					block footer
			else
				.content
					block header

					block content
				.footer-wrap
					block footer
