extends layout.pug
block vars
	- var title = 'New website coming soon';
block header
	//- include includes/header.pug
block content
	include includes/content-tech.pug
block footer
	//- include includes/footer.pug
