extends layout.pug
block vars
	- var title = 'Commodities and Volumes';
block header
	include includes/header.pug
block content
	include includes/content-volumes.pug
block footer
	include includes/footer.pug
