.container
	.row
		.col-lg-12
			+breadcrumbs(3)
.greenline.greenline-margin-top
	h1 Вопросы
.grayline
	h2 Что такое «Союз кредитно-потребительской кооперации»?
.faq-answer
	p.
		Это организация, созданная специально для обеспечения надежности и стабильности кредитной кооперации в России и предоставления участникам кредитных кооперативов дополнительных гарантий на законодательном уровне. Членами СКПК являются кредитные кооперативы.
	p.
		Являясь некоммерческой организацией, СКПК активно участвует в законотворческом процессе и способствует повышению уровня финансовой грамотности населения РФ. 
.grayline
	h2 Кто контролирует деятельность СКПК?
.faq-answer
	p.
		Контроль над деятельностью СКПК осуществляет Центральный Банк России, а правовой статус организации определен ФЗ- N 7от 12 января 1996 г. "О некоммерческих организациях"
.grayline
	h2 Чем СКПК отличается от банка?
.faq-answer
	p.
		Существует целый ряд отличий СКПК от банков, выгодных для его участников:
	p.
		1. СКПК – некоммерческая организация. Это означает, что весь получаемый доход она может направлять на нужды участников, а не акционеров и собственников.
	p.
		2. Прозрачность. Механизм работы СКПК предельно прост: привлеченные средства одних участников выдаются в виде займов другим. Те, выплачивая долг по займу с процентами, формируют прибыль по накопительным программам. 
	p.
		3. Членов СКПК нельзя лишить лицензии: они действуют в рамках закона № 190-ФЗ от 18 июля 2009 года «О кредитной кооперации», согласно которому лицензирование для этого вида деятельности не требуется. 
	p.
		4. Средства распределяются только между членами кооператива, а тщательная проверка платежеспособности сводит к минимуму риск невозврата займа.
.grayline
	h2 Каковы гарантии добросовестности деятельности КПК?
.faq-answer
	p.
		1. Любой член СКПК должен  подтвердить свой статус соответствующими документами в свободном доступе.
	p.
		2. СКПК имеет строго установленное максимальное число участников. Это необходимо для гарантированного удовлетворения финансовых потребностей, состоящих в нем физических и(или) юридических лиц.
	p.
		3. СКПК имеет выборные органы управления - это правление и ревизионная комиссия: таким образом, участники имеют возможность влиять на принимаемые кооперативом решения.
+form(1)