.homepage-top
	.container
		.row
			.col-lg-12
				.content-less
					h1.home-title.wow.bounceInUp
						<strong>«НАРОДНЫЙ» – некоммерческая организация,</strong><br> решающая финансовые задачи<br> собственных участников
.about-avantages
	.greenline
		h2.w1116 Мы формируем реальную экономическую демократию в российском обществе и добиваемся повышения финансовой грамотности населения:
	.container
		.row.wow.bounceInUp
			.col-lg-12
				.avantages-content
					.about-avantages-item
						.about-avantages-item__img
							+i('ab-adv1.png')
						.about-avantages-item__text
							p.
								Оказываем помощь <br>
								участникам <br>
								в рамках закона
					.about-avantages-item
						.about-avantages-item__img
							+i('ab-adv2.png')
						.about-avantages-item__text
							p.
								Проводим <br>
								кооперативное <br>
								обучение
					.about-avantages-item
						.about-avantages-item__img
							+i('ab-adv3.png')
						.about-avantages-item__text
							p.
								Укреплем <br>
								экономический, <br>
								социальный и правовой <br>
								статусы наших участников
.about-150
	.container
		.row
			.col-lg-12.wow.bounceInUp
				h1.home-title.
					<strong>«Союз кредитно-потребительской кооперации»</strong><br>
					продолжатель традиций российской частной потребительской кооперации, история<br>
					которой насчитывает<br>
					более 150 лет
				+b('btn btn_consult', 'Заказать бесплатную консультацию')