main
	.banner.banner_clients
		.banner-info
			h1 Our <br>Clients
			p Our clients are some of the largest trading houses, steel producers and importers/ exporters of minerals in the world and over time we have proved to be a reliable and stable partner to work with. 
	.clients-logo
		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="") 

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="") 

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")    

		.clients-logo_item
			img(src="img/" alt="")          
