.container
	.row
		.col-lg-12
			+breadcrumbs(3)
.greenline.greenline-margin-top
	h2 Все новости
.newsblock
	.container
		.row
			.col-lg-12
				.newsblock-row
					+news('n1.jpg')
					+news('n2.jpg')
					+news('n3.jpg')
					+news('n1.jpg')
					+news('n2.jpg')
					+news('n3.jpg')
				+pagination