main
	.banner.banner_risk
		.banner-container
			.banner-info
				h1.main-title Risk <br>management
				p 
					|Indentifying potential risks as early as possible in order to limit any losses is the first thing we consider when entering into any negotiations. The internal vetting procedures used
					|are structured and detailed, and these give
					|our commercial team the best opportunities
					|to conclude business whilst making sure the company’s global portfolio always bears minimum acceptable counter-party risk levels.
	.riskManagment.container-main
		.riskManagment-item
			.riskManagment-img
				img(src="img/risk-hands.jpg")
			.riskManagment-info
				.riskManagment-info_inner
					.riskManagment-info_text
						p
							|The risk management team at Pola Maritime ensures that risks associated to market fluctuations are properly addressed and carefully managed.

						p
							|The risk management team at Pola Maritime ensures that risks associated to market fluctuations are properly addressed and carefully managed.    
		.riskManagment-item
			.riskManagment-info
				.riskManagment-info_inner
					.riskManagment-info_text
						p
							|Pola Maritime uses the most advanced, uptodate and comprehensive shipping software which improves efficiency  and helps to reduce the risks involved.

			.riskManagment-img
				img(src="img/risk-table.jpg")    
