.banner.banner_volumes
	.banner-container
		h1.main-title Commodities<br> and Volumes
		.banner-info
			p 
				|Pola Maritime has seen its shipments of dry bulk cargo volumes increase in numbers from 1 million tonnes to in excess of 7 million tonnes today and have also diversified over time to include most of the raw commodities shipped globally
.container-main
	.infographics.infographics-2018#count-1
		.date-box JAN-MAY 2018
		.num-box 
			span.spincrement 3, 877, 420 
			b  mt
		.infographic-img
			img(src="img/infographic-1.png")

	.infographics.infographics-2017#count-2
		.date-box 2017
		.num-box 
			span.spincrement2 6, 814, 399 
			b  mt
		.infographic-img
			img(src="img/infographic-2.png")

	.infographics-group
		.infographics-group_item#count-3
			.infographics-group_title
				.date-box 2016
				.num-box 
					span.spincrement3 6, 122, 811 
					b  mt
			.infographics-group_img
				img(src="img/infografic-1.svg")

		.infographics-group_item#count-4
			.infographics-group_title
				.date-box 2015
				.num-box 
					span.spincrement4 5, 825, 592 
					b  mt
			.infographics-group_img
				img(src="img/infografic-2.svg")

		.infographics-group_item#count-5
			.infographics-group_title
				.date-box 2014
				.num-box 
					span.spincrement5 2, 947, 508 
					b  mt
			.infographics-group_img
				img(src="img/infografic-3.svg")

		.infographics-group_item#count-6
			.infographics-group_title
				.date-box 2013
				.num-box 
					span.spincrement6 1, 713, 015 
					b  mt
			.infographics-group_img
				img(src="img/infografic-4.svg")

		.infographics-group_item#count-7
			.infographics-group_title
				.date-box 2012
				.num-box 
					span.spincrement7 1, 603, 813 
					b  mt
			.infographics-group_img
				img(src="img/infografic-5.svg")

		.infographics-group_item#count-8
			.infographics-group_title
				.date-box 2011
				.num-box 
					span.spincrement8 1, 044, 008 
					b  mt
			.infographics-group_img
				img(src="img/infografic-6.svg")
