main.container-main
	.banner.banner_fleet
		.banner-container
			.fleet-about
				.banner-info
					h1.main-title Our Fleet
					p 
						|Pola Maritime’s own fleet of Handy and Supramax sizes are all ice class, rightship, modern, and most are geared, with the rest of the ships chartered in ranging between Handy to Panamax sizes. Total of around 50 ships at any one time and increasing. 
				.fleet-types
					.fleet-types_item
						.fleet-types_info.handysize
							p Handysize
							span 15,000 - 40,000 dwt
					.fleet-types_item
						.fleet-types_info.supramax
							p Supramax
							span 50,000 - 65,000 dwt
					.fleet-types_item
						.fleet-types_info.panamax
							p Panamax
							span 70,000 - 90,000 dwt

	.iceClass
		.iceClass-cont.container
			.iceClass-item
				p 
					|Our Ice-class vessels can<br>
					|navigate all over the world<br>
					|any time of the year.<br>

			.iceClass-item
				.iceClass-item_inner
					p 
						|This variety in vessel sizes and class allows us to trade all year round, in most areas and in ports where restrictions and accessibility can be very difficult.  
					p 
						|We transport all types of dry bulk commodities, clean and dirty cargoes, from ores, coal, grains, steels, agricultural products, bauxite, alumina, fertilizers and much more.  
	.fleet-mainInfo
		.fleet-about_title
			h2.main-title Fleet
		.fleet-about_inner
			.fleet-about_item
				.fleet-about_item__inner
					img(src="img/fleet-1.jpg")
					.fleet-about_name
						p POLA 
							span INDIAN
				.fleet-about_item__inner
					.fleet-about_info
						ul
							li Type:
							li Bulk Carrier
						ul
							li Deadweight: 
							li 37 666 t
						ul
							li Year Built:                    
							li 2014
						ul
							li Length:                       
							li 180 m
						ul
							li Beam:                      
							li 30 m
						ul
							li Draught:                     
							li 10,65 m
						ul
							li Shipyard:                     
							li QINGSHAN<br> SHIPYARD - WUHAN, China 

			.fleet-about_item
				.fleet-about_item__inner
					img(src="img/fleet-2.jpg")
					.fleet-about_name
						p POLA 
							span ILARIA
				.fleet-about_item__inner
					.fleet-about_info
						ul
							li Type:
							li Bulk Carrier
						ul
							li Deadweight: 
							li 37 495 t
						ul
							li Year Built:                    
							li 2010
						ul
							li Length:                       
							li 189,99 m
						ul
							li Beam:                      
							li 28,50 m
						ul
							li Draught:                     
							li 10,40 m
						ul
							li Shipyard:                     
							li XINGANG SHIPBUILDING <br>HEAVY INDUSTRY  

			.fleet-about_item
				.fleet-about_item__inner
					img(src="img/fleet-3.jpg")
					.fleet-about_name
						p POLA 
							span ELISAVETA
				.fleet-about_item__inner
					.fleet-about_info
						ul
							li Type:
							li Bulk Carrier
						ul
							li Deadweight: 
							li 37 653 t
						ul
							li Year Built:                    
							li 2014
						ul
							li Length:                       
							li 180 m
						ul
							li Beam:                      
							li 30 m
						ul
							li Draught:                     
							li 10,65 m
						ul
							li Shipyard:                     
							li QINGSHAN <br>SHIPYARD - WUHAN, China

			.fleet-about_item
				.fleet-about_item__inner
					img(src="img/fleet-4.jpg")
					.fleet-about_name
						p POLA 
							span ANISIA
				.fleet-about_item__inner
					.fleet-about_info
						ul
							li Type:
							li Bulk Carrier
						ul
							li Deadweight: 
							li 46 412 t
						ul
							li Year Built:                    
							li 2006
						ul
							li Length:                       
							li 183 m
						ul
							li Beam:                      
							li 30,95 m
						ul
							li Draught:                     
							li 11,81 m
						ul
							li OSHIMA:                     
							li SHIPBUILDING, Japan

			.fleet-about_item
				.fleet-about_item__inner
					img(src="img/fleet-5.jpg")
					.fleet-about_name
						p POLA 
							span AUGUSTA
				.fleet-about_item__inner
					.fleet-about_info
						ul
							li Type:
							li Bulk Carrier
						ul
							li Deadweight: 
							li 46 412 t
						ul
							li Year Built:                    
							li 2006
						ul
							li Length:                       
							li 183 m
						ul
							li Beam:                      
							li 30,95 m
						ul
							li Draught:                     
							li 11,81 m
						ul
							li OSHIMA:                     
							li SHIPBUILDING, Japan 

			.fleet-about_item
				.fleet-about_item__inner
					img(src="img/fleet-6.jpg")
					.fleet-about_name
						p POLA 
							span DEVORA
				.fleet-about_item__inner
					.fleet-about_info
						ul
							li Type:
							li Bulk Carrier
						ul
							li Deadweight: 
							li 37 390 t
						ul
							li Year Built:                    
							li 2012
						ul
							li Length:                       
							li 189,99 m
						ul
							li Beam:                      
							li 28,50 m
						ul
							li Draught:                     
							li 10,40 m
						ul
							li OSHIMA:                     
							li SHANDONG HUAHAI<br> SHIPYARD - RIZHAO, China

	.operatedFleet.operatedFleet-list.fleetList-container
		h2.main-title Operated fleet list
		.searchBox
			.typeShip
				button.typeShip-btn Type ship
				.typeShip-list
					ul
						li 
							a(href="#") Capesize
						li 
							a(href="#") Panamax
						li 
							a(href="#") Supramax
						li 
							a(href="#") Handysize
						li
							a(href="#") Transshipment
		
			form
				label.search-inp
					input(type="search" placeholder="name of the ship")
					button.searchBtn(type="submit")

		.table-wrap
			table.shipTypeTable
				tr
					th Name
					th Type
					th DeadWeight
					th Built
					th Draft
					th LOA
					th Beam

				tr
					th Anglo Marimar
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Sunny Smile
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th CMB Pauillac
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Double Pride
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Double Providence
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Double Paradise
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Double Prestige
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Venus Heritage
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th Tender Salute
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m

				tr
					th KM Hakata
					th Own
					th 100,000
					th 2020
					th 14,99
					th 235.00 m
					th 38.00 m
