.container
	.row
		.col-lg-12
			+breadcrumbs(2)
.greenline.greenline-margin-top
	h2 Новости и акции
.actions-slider__block
	.container
		.row
			.col-lg-12
				.actions-slider
					.item
						+i('actionslide.jpg')
						a(href="#" class="btn btn_bigGreen btn_bigGreen__nobottom") Подробнее
					.item
						+i('actionslide.jpg')
						a(href="#" class="btn btn_bigGreen btn_bigGreen__nobottom") Подробнее
					.item
						+i('actionslide.jpg')
						a(href="#" class="btn btn_bigGreen btn_bigGreen__nobottom") Подробнее
.newsblock
	.container
		.row
			.col-lg-12
				.newsblock-row
					+news('n1.jpg')
					+news('n2.jpg')
					+news('n3.jpg')
				.allnews-right
					a(href="#" class="btn btn_allnews") Все новости
				.center
					+b('btn btn_consult', 'Получать новые предложения от “Народного”')