.header-block
	.container-fluid
		.row
			.col-lg-12
				h1.header-block_h1 РЫБОЛОВНЫЙ КЛУБ <br> «ТРИ ПЕСКАРЯ» <br> В ЛЫТКИНО
.news-articles
	.container-fluid
		.row
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-3
				.article-item
					.article-item__imgbox
						img(src="img/news.jpg")
					.article-item__date 04.07.2017
					.article-item__title Lorem ipsum dolor sit amet
					.article-item__desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					a(href="#" class="article-item__more") ЧИТАТЬ ПОЛНОСТЬЮ
			.col-lg-12
				nav(class="navigation pagination" role="navigation")
					.nav-links
						a(class="page-numbers" href="#") 1
						span(class="page-numbers current") 2
						a(class="page-numbers" href="#") 3
						a(class="next page-numbers" href="#") Далее
include owl-carousel.pug