.reasons
	.container
		.row
			.col-lg-12
				.content-less
					h1.home-title.
						<span class="big-number">4</span> <strong>причины</strong> <br>
						выбрать именно нас
					.reasons-block
						.reason-item
							.reason-item__img
								+i('pr1.png')
							.reason-item__text.
								Высокий процент<br>
								по накопительным<br>
								(инвестиционным)<br>
								программам
						.reason-item
							.reason-item__img
								+i('pr2.png')
							.reason-item__text.
								Деятельность<br>
								регулируется<br>
								государством
						.reason-item
							.reason-item__img
								+i('pr3.png')
							.reason-item__text.
								Индивидуальный<br>
								подход к каждому<br>
								клиенту
						.reason-item
							.reason-item__img
								+i('pr4.png')
							.reason-item__text.
								Программы<br>
								для различных<br>
								категорий населения.
.how-section
	.container
		.row
			.col-lg-12
				+i('infografics.png')
.how-bottom
	.container
		.row
			.col-lg-12
				h1.home-title.
					<strong>Вступая в «НАРОДНЫЙ», вы делаете выбор</strong><br>
					в пользу стабильности, безопасности<br>
					и финансового<br>
					доверия!
				+b('btn btn_consult','Заказать бесплатную консультацию')

