main
	.banner.banner_risk
		.banner-container
			h1 Commodities<br> and Volumes
			.banner-info
				p 
					|Pola Maritime has seen its shipments of dry bulk cargo volumes increase in numbers from 1 million tonnes to in excess of 7 million tonnes today and have also diversified over time to include most of the raw commodities shipped globally
	.infographics.infographics-2018
		.infographics-container
			h2 JAN-MAY 2018 (est)
			p 3, 877, 420 mt
			img(src="img/")
				
	.infographics.infographics-2017
		.infographics-container
			h2 2017 (est)
			p 6, 814, 399 mt
			img(src="img/")
				
	.infographics-group
		.infographics-group_item
			.infographics-group_title
				span 2016 (est)
				span 6, 122, 811 mt
			.infographics-group_img
				img(src="img/")
			
		.infographics-group_item
			.infographics-group_title
				span 2015 (est)
				span 5, 825, 592 mt
			.infographics-group_img
				img(src="img/")
			
		.infographics-group_item
			.infographics-group_title
				span 2014 (est)
				span 2, 947, 508 mt
			.infographics-group_img
				img(src="img/")
			
		.infographics-group_item
			.infographics-group_title
				span 2013 (est)
				span 1, 713, 015 mt
			.infographics-group_img
				img(src="img/")
			
		.infographics-group_item
			.infographics-group_title
				span 2012 (est)
				span 1, 603, 813 mt
			.infographics-group_img
				img(src="img/")
			
		.infographics-group_item
			.infographics-group_title
				span 2011 (est)
				span 1, 044, 008 mt
			.infographics-group_img
				img(src="img/")
								
		
