.banner.banner_clients
	.banner-container
		.banner-info
			h1.main-title Our <br>Clients
			p Our clients are some of the largest trading houses, steel producers  and importers/ exporters of minerals  in the world and over time we have proved to be a reliable and stable partner to work with. 
.clients-logo.container-main
	.clients-logo_item
		img(src="img/itochu.png" alt="")

	.clients-logo_item
		img(src="img/cargill.png" alt="")    

	.clients-logo_item
		img(src="img/bpc.png" alt="")    

	.clients-logo_item
		img(src="img/ural.png" alt="")    

	.clients-logo_item
		img(src="img/uralchim.png" alt="")    

	.clients-logo_item
		img(src="img/wilmar.png" alt="")    

	.clients-logo_item
		img(src="img/adm.png" alt="")    

	.clients-logo_item
		img(src="img/ameropa.png" alt="")    

	.clients-logo_item
		img(src="img/koch.png" alt="")    

	.clients-logo_item
		img(src="img/sucden.png" alt="") 

	.clients-logo_item
		img(src="img/evraz.png" alt="")    

	.clients-logo_item
		img(src="img/marubeni.png" alt="")    

	.clients-logo_item
		img(src="img/glencore.png" alt="")    

	.clients-logo_item
		img(src="img/edfmanua.png" alt="")    

	.clients-logo_item
		img(src="img/ldc.png" alt="")    

	.clients-logo_item
		img(src="img/vitol.png" alt="")    

	.clients-logo_item
		img(src="img/acron.png" alt="")    

	.clients-logo_item
		img(src="img/mechel.png" alt="")    

	.clients-logo_item
		img(src="img/lafarge.png" alt="")    

	.clients-logo_item
		img(src="img/rio.png" alt="") 

	.clients-logo_item
		img(src="img/suec.png" alt="")    

	.clients-logo_item
		img(src="img/yara.png" alt="")    

	.clients-logo_item
		img(src="img/fosargo.jpg" alt="")    

	.clients-logo_item
		img(src="img/sodrugestvo.png" alt="")    

	.clients-logo_item
		img(src="img/orix.png" alt="")
	.clients-logo_item
		img(src="img/nlmk.png" alt="")
	.clients-logo_item
		img(src="img/Trammo.jpg" alt="")
	.clients-logo_item
		img(src="img/severstal.png" alt="")
	.clients-logo_item
		img(src="img/aml.png" alt="")
	.clients-logo_item
		img(src="img/MITSUI-CO.png" alt="")