.growpage1
	.container
		.row
			.col-lg-12
				.content-less
					h1.home-title.
						<strong>«НАРОДНЫЙ» предлагает широкий ассортимент</strong><br>
						линеек накопительных программ <br>
						для разных категорий населения
					.growpage1-content.wow.bounceInUp
						.grow-item
							.grow-item__img
								+i('g1.png')
							.grow-item__text.
								Проценты выше,<br>
								чем в банке	
						.grow-item
							.grow-item__img
								+i('g2.png')
							.grow-item__text.
								Возможность<br>
								ежемесячного<br>
								получения<br>
								компенсации
						.grow-item
							.grow-item__img
								+i('g3.png')
							.grow-item__text.
								Капитализация
						.grow-item
							.grow-item__img
								+i('g4.png')
							.grow-item__text.
								Гибкий срок<br>
								от 3 до 25 <br>
								месяцев
						.grow-item
							.grow-item__img
								+i('g5.png')
							.grow-item__text.
								Возможность<br>
								пополнения
						.grow-item
							.grow-item__img
								+i('g6.png')
							.grow-item__text.
								Безналичное<br>
								перечисление <br>
								компенсации
+form(4)