.container
	.row
		.col-lg-12
			+breadcrumbs(1)
.greenline.greenline-margin-top
	h2 Отзывы
.container
	.row
		.col-lg-12
			.review-slider
				.item
					.review-slider__img
						+i('r1.jpg')
					.review-slider__text
						p.
							Выражаем признательность команде  за профессионализм и оперативность
				.item
					.review-slider__img
						+i('r2.jpg')
					.review-slider__text
						p.
							Выражаем признательность команде  за профессионализм и оперативность
				.item
					.review-slider__img
						+i('r3.jpg')
					.review-slider__text
						p.
							Выражаем признательность команде  за профессионализм и оперативность
				.item
					.review-slider__img
						+i('r1.jpg')
					.review-slider__text
						p.
							Выражаем признательность команде  за профессионализм и оперативность
				.item
					.review-slider__img
						+i('r2.jpg')
					.review-slider__text
						p.
							Выражаем признательность команде  за профессионализм и оперативность
				.item
					.review-slider__img
						+i('r3.jpg')
					.review-slider__text
						p.
							Выражаем признательность команде  за профессионализм и оперативность
+form(2)