.conditions
    .container-fluid
        .conditions-promo
            .row
                .col-md-12
                    h2.h2-title.conditions-title.h2-title__blue РАСПИСАНИЕ И УСЛОВИЯ
                    p.condition-paragraph Рыбалка осуществляется круглосуточно. Просим соблюдать Вас правила<br> Организации рыбной ловли и отдыха на Водоёме д. Лыткино «Три Пескаря». Разрешено использовать 2 снасти, не более 3х крючков на снасть.  Пойманная рыба весом свыше 3кг считается собственностью клуба «Три Пескаря» и отпускается в водоем либо оплачивается из расчета 1кг – 300руб.
        .conditions-price
            .row.conditions-price-row
                .col-md-2.conditions-price_item
                    .conditions-price_image
                        img(src="img/morning-icon.svg", alt="Утренняя путевка")
                    span.conditions-price_title 1600 рублей<br>Утренняя путевка
                    p.conditions-price_time 6.00 – 13.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item.conditions-price_item__bottom
                    .conditions-price_image
                        img(src="img/afternoon-icon.svg", alt="Дневная путевка")
                    span.conditions-price_title 2000 рублей<br>Дневная путевка
                    p.conditions-price_time 6.00 – 20.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item.conditions-price_item__bottom
                    .conditions-price_image
                        img(src="img/evening-icon.svg", alt="Вечерняя путевка")
                    span.conditions-price_title 1600 рублей<br>Вечерняя путевка
                    p.conditions-price_time 13.00 – 20.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item.conditions-price_item__bottom
                    .conditions-price_image
                        img(src="img/night-icon.svg", alt="Ночная путевка")
                    span.conditions-price_title 2000 рублей<br>Ночная путевка
                    p.conditions-price_time 20.00 – 5.00, без лимита любой рыбы.
                .col-md-2.conditions-price_item
                    .conditions-price_image
                        img(src="img/vip-icon.svg", alt="vip путевка")
                    span.conditions-price_title 3500 рублей<br>VIP путевка
                    p.conditions-price_time сутки с момента прибытия.
.extra
    .container-fluid
        .row
            .col-md-12
                h2.h2-title.extra-title.h2-title__blue ТАКЖЕ ДЛЯ ВАС
        .row.extra-row
            .col-md-2.extra_item
                span.extra_item-title 500 рублей<br>Гостевая путевка
                p.extra_item-text Без права лова, ночью<br> не действует. Оплату производит каждый<br> гость рыбака
            .col-md-2.extra_item
                span.extra_item-title Бесплатно<br>Женщины и дети
                p.extra_item-text Женщины и дети <br>до 14 лет включительно могут бесплатно рыбачить на снасти рыбака
            .col-md-2.extra_item
                span.extra_item-title 1000 рублей<br>Беседка
                p.extra_item-text Женщины и дети <br>до 14 лет включительно могут бесплатно рыбачить на снасти рыбака
            .col-md-2.extra_item
                span.extra_item-title 300 рублей<br>Доп. снасть
                p.extra_item-text Используются 2 снасти,<br> не более 3х крючков<br> на снасть. Дополнительная снасть оплачивается
            .col-md-2.extra_item
                span.extra_item-title 1000 рублей<br>VIP зона
                p.extra_item-text с 7:00 до 17:00<br> испоьзуются две снасти<br> без нормы вылова<br> любой рыбы
.vip-fish
    .container-fluid
        .row
            .col-md-12
                h2.h2-title.vip-fish-title.h2-title__white VIP рыбалка<br>Вход 500 рублей
                .vip-fish-text
                    p.vip-fish-text_descr Пойманная рыба оплачивается за 1кг:  Форель 500руб Карп 190руб, Амур 190руб, Осетр 700руб
.rent
    .container-fluid
        .row
            .col-md-12
                h2.h2-title.rent-title.h2-title__blue прокат снастей
        .row
            .col-md-6
                .rent-img
                    img(src="img/rent-img.svg", alt="Прокат снастей")
            .col-md-6
                .rent-staff
                    .rent-staff_item
                        span.rent-staff_item__title Удочка
                        span.rent-staff_item__price 400 рублей
                        span.rent-staff_item__info (залог 1000 рублей)
                    .rent-staff_item
                        span.rent-staff_item__title Кресло
                        span.rent-staff_item__price 200 рублей
                    .rent-staff_item
                        span.rent-staff_item__title Подсачник
                        span.rent-staff_item__price 300 рублей
                    .rent-staff_item
                        span.rent-staff_item__title Ремонт снастей
                        span.rent-staff_item__price 100 рублей
.offer
    .container-fluid
        .row
            .col-md-6.offer-clean
                h2.h2-title.offer-title.h2-title__white Мы с радостью почистим и закоптим ваш улов
                p.offer-text.offer-text--clean Чистка рыба и Копчение 1шт -200 рублей
            .col-md-6.offer-houses
                h2.h2-title.offer-title.offer-title--houses.h2-title__white На берегу<br> водоёма находятся уютные домики
                p.offer-text Забронировать места можно по телефону: 8 (903) 799-31-41
.current-state
    .container-fluid
        .row
            .col-md-12
                h2.h2-title.current-state-title.h2-title__white В настоящее время водоем зарыблен следующими видами рыбы
                p.current-state-text Карп, весом до 8кг, Сазан, весом до 15кг, Сом, весом до 16кг Щука, весом до 5кг, Окунь, весом до 500г, Форель, весом до 3кг Осётр, весом до 13кг, Сиг, весом до 2кг, Стерлядь, весом до 1кг Линь, весом до 1.2кг, много крупного карася
.rest
    .container-fluid
        .row
            h2.h2-title.rest-title.h2-title__blue База «Три Пескаря» организована<br> для отдыха, спортивного любительского рыболовства, а не для рыбного промысла
            p.rest-text За не выловленную рыбу компенсация не производится. Категорически запрещается:<br> разводить костры на берегу пруда, отпускать пойманную рыбу, ловить с лодок, ловля на резинку, телевизор и т.д.. Просьба во время рыбной ловли не шуметь, не мешать другим рыбакам, выбрасывать мусор в специально отведенные баки.. Автомобили паркуются строго<br> на выделенной стоянке.. Администрация оставляет за собой право<br> не допускать рыбаков на территорию «Три Пескаря»<br> без объяснения причин.
block carousel
    include owl-carousel.pug