main
	.banner.banner_about
		.banner-container
			.banner-info
				h1 History
					p
						|Pola Maritime was established in 2006 in Europe with offices in Belgium and Cyprus to service close clients focusing on steel, grain and fertilizer shipments between the Baltic and South American range.  The company started with a few ships and over a period of more than 10 years has  grown its fleet to around 50 vessels (owned and chartered). These circumnavigate the globe servicing routes all year round whatever the season.

	.polaToday
		.polaToday-inner
			img(src="img/")
		.polaToday-inner
			h2 POLA today
			p Pola Maritime is now regarded as one of the leading boutique international ship owning companies with offices in strategic locations, enabling it to better support its clients who are managed by an experienced team of shipping executives. 
			p With cargo volumes and clients’ needs increasing, the company is expanding its operations as well as its team. This is to streamline the business model and operate in a much more efficient, transparent and proactive way.   


	.operatedFleet
		.operatedFleet-inner
			.operatedFleet-count
				.operatedFleet-count_item
					|50
				.operatedFleet-count_item
					|Own <br>and operated <br>fleet
			.operatedFleet-inner
				.operatedFleet-count_item
					|7
				.operatedFleet-count_item
					|Our presence
					|in 7 key time zones,
					|allows us to offer efficient
					|and timely services
					|around the clock.
	.ourBuisness
		.banner.banner_about
			.banner-container
				h2 Our business 
				.banner-info
					p
						| The bulk of our business focuses on offering efficient shipping and logistical solutions
						| on all trade routes whether on a time charter
						| or voyage charter basis, or on Contracts
						| of Affreightment (COA).

	.aboutServices
		.aboutServices-item
			img(src="img/")
		.aboutServices-item
			p We offer a comprehensive range of shipping services, consulting, crew management as well as technical services and ship repairs. 

	.logisticalServices
		p We also provide logistical services which include matching vessel types and sizes to cargo quantities to be shipped in the quickest turnaround time possible whilst adhering to high safety standards.     

	.testemonials
		.testemonials-box
			.testemonials-box_inner
				p Dry bulk shipping consultancy services
			.testemonials-box_inner
				p 24 hour ship management, monitoring and operations
			.testemonials-box_inner
				p Managing formalities and documentation handling for cargo transportation worldwide
			.testemonials-box_inner
				p Cargo transportation services on a wide range of shipping routes across the globe

		.testemonials-box
			p 
				|Market research and analysis can be provided
				| as an additional service to clients seeking more information about the commodities market, most efficient trade routes and identification of new business opportunities within mature markets,
				| and emerging markets where access to information can be limited. 

			p
				|Requirements for dry bulk goods change constantly and being reactive with the right information is critical to limiting any exposure to risk.

	.transported
		.transported-top
			.transported-top_info
				h2 Transported commodities
				p We primarily transport commodities for the dry bulk market and these have increased in volume over the years to include: ores, coal, grains, steels, agricultural products, sugar, bauxite, alumina, fertilizers, wood products, logs and others.
				p Where relationships with our close clients are long standing, we can consider absorbing the risk of exposure for loading and discharging cargo in terms of demurrage by providing CQD (Customary Quick Despatch).
			.transported-top_img
				.transported-top_img__inner
					img(src="img/")
					.transported-top_img__title   
						|Steel

				.transported-top_img__inner
					img(src="img/")
					.transported-top_img__title
						|Aluminium

				.transported-top_img__inner
					img(src="img/")
					.transported-top_img__title   
						|Irone ore

				.transported-top_img__inner
					img(src="img/")
					.transported-top_img__title
						|Coal

			.transported-bottom_img            
				.transported-bottom_img__inner
					img(src="img/")
					.transported-bottom_img__title
						|Logs

				.transported-bottom_img__inner
					img(src="img/")
					.transported-bottom_img__title
						|Grains

				.transported-bottom_img__inner
					img(src="img/")
					.transported-bottom_img__title
						|Sugar

				.transported-bottom_img__inner
					img(src="img/")
					.transported-bottom_img__title
						|Fertilizers

	.tradeRoutes
		.tradeRoutes-map
		.tradeRoutes-info
			.tradeRoutes-info_item
				h3 Cyprus
				p Cyprus,<br> Ledra House, 15 Agiou Pavlou, Agios Andreas, Nicosia
				p 
					span Tel:<br>
					|+000000000000
				p 
					span E-mail:<br>
					|pola@pola.com

			.tradeRoutes-info_item
				h3 Monaco
				p Monaco,<br> 57 Grimaldi street, <br>«Le Panorama» building
				p 
					span Tel:<br>
					|+000000000000
				p 
					span E-mail:<br>
					|pola@pola.com

			.tradeRoutes-info_item
				h3 Singapore
				p           
					|Singapore,<br>
					| MBFC Tower 3 #17-01<br>
					| 12 Marine Boulevard<br>
				p 
					span Tel:<br>
					|+65 6809 5247
				p 
					span E-mail:<br>
					|chartering@pola-east.com

			.tradeRoutes-info_item
				h3 Antwerp
				p           
					|Belgium, Antwerp,<br> London Tower,<br> Noorderplaats 9
				p 
					span Tel:<br>
					|+65 6809 5247
				p 
					span E-mail:<br>
					|chartering@pola-east.com   

			.tradeRoutes-info_item
				h3 Buenos Aires
				p           
					|Argentina, Buenos Aires, <br>Av Cordoba 939
				p 
					span Dir:<br>
					|+54 11 3221 2021
				p 
					span Mob:<br>
					|+54(9)11 6963 2204

			.tradeRoutes-info_item
				h3 Rio de Janeiro
				p           
					|Brazil, Rio de Janeiro, <br>
					|Rua General Venancio Flores 305,<br>
					|sala 203
				p 
					span Dir:<br>
					|+55 21 3547 3597
				p 
					span E-mail:<br>
					|chartering@polabrasil.com.br  

			.tradeRoutes-info_item
				h3 Copenhagen
				p           
					|Denmark, Copenhagen, 
				p 
					span Dir:<br>
					|+0000000000
				p 
					span E-mail:<br>
					|pola@pola.com


	.breafInfo
		.breafInfo-item
			img(src="img/")
			.breafInfo-item_inner
				|Commodities & Volume

		.breafInfo-item
			img(src="img/")
			.breafInfo-item_inner
				|Risk management

		.breafInfo-item
			img(src="img/")
			.breafInfo-item_inner
				|Clients           
