.zaimpage1
	.container
		.row
			.col-lg-12
				.content-less
					h1.home-title.
						<strong>Для участников СКПК «НАРОДНЫЙ», </strong><br> включая пенсионеров,<br>линейка займов на выгодных условиях
					.growpage1-content
						.grow-item
							.grow-item__img
								+i('z1.png')
							.grow-item__text.
								Срок займа <br>
								от 3 до 12 месяцев	
						.grow-item
							.grow-item__img
								+i('z2.png')
							.grow-item__text.
								Сумма займа от<br>
								1 000 000 руб.
						.grow-item
							.grow-item__img
								+i('z3.png')
							.grow-item__text.
								Без <br>
								обеспечения
					.growpage1-content.growpage1-content-2
						.grow-item
							.grow-item__img
								+i('z4.png')
							.grow-item__text.
								Возможность <br>
								досрочного<br>
								погашения
						.grow-item
							.grow-item__img
								+i('z5.png')
							.grow-item__text.
								Без <br>
								поручителей
						.grow-item
							.grow-item__img
								+i('z6.png')
							.grow-item__text.
								Без <br>
								скрытых <br>
								комиссий
						.grow-item
							.grow-item__img
								+i('z7.png')
							.grow-item__text.
								Минимальный <br>
								пакет документов
+form(3)