.homepage-slide
	.container
		.row
			.col-lg-12
				.content-less
					h1.home-title
						strong.
							«Союз кредитно-потребительской <br> кооперации» («НАРОДНЫЙ111www») 
					.h1_subtitle Это накопительные проценты <br>под высокие гарантии
					+b('btn btn_consult btn_consult-revers','Подробнее')
.homeslider__block
	.item
		.container
			.row
				.col-lg-12
					.homeslider
						.item
							img(src="img/slide1.jpg")
							.homeslider-content
								p.
									ПОЛУЧИТЬ<br>
									МАКСИМАЛЬНЫЙ <br>
									ДОХОД
								a(href="#" class="btn btn_bigGreen btn_bigGreen__nobottom") Подробнее
						.item
							img(src="img/slide1.jpg")
							.homeslider-content
								p.
									ПОЛУЧИТЬ<br>
									МАКСИМАЛЬНЫЙ <br>
									ДОХОД
								a(href="#" class="btn btn_bigGreen btn_bigGreen__nobottom") Подробнее
						.item
							img(src="img/slide1.jpg")
							.homeslider-content
								p.
									ПОЛУЧИТЬ<br>
									МАКСИМАЛЬНЫЙ <br>
									ДОХОД
								a(href="#" class="btn btn_bigGreen btn_bigGreen__nobottom") Подробнее
.avantages
	.container
		.row
			.col-lg-12
				.avantages-content
					.avantages-item
						.avantages-item__img
							+i('adv1.png')
						.avantages-item__text
							p.
								Получить <br>
								максимальный <br>
								доход
					.avantages-item
						.avantages-item__img
							+i('adv2.png')
						.avantages-item__text
							p.
								Легкий займ<br>
								для народа
					.avantages-item
						.avantages-item__img
							+i('adv3.png')
						.avantages-item__text
							p.
								Почему<br>
								клиенты выбирают<br>
								именно нас
#mape
	.container
		.row
			.col-lg-12
				.homemap-contacts
					.homemap-contacts__title.contline Контакты
					.homemap-contacts__city.contline
						span Калиниград
					.homemap-contacts__phones.contline
						span (4012) 33 76 44
						span (4012) 91 81 39
					.homemap-contacts__address.contline ул. Советский пр-т, д. 34