.overlay
	.antwerp-modal.modal
		.modal-inner
			.modal-img
				img(src="img/antwerp.jpg")
			.modal-info
				button.modal-close
				h3.modal-title ANTWERP, BELGIUM
				.modal-adress 
					p London Tower, <br> Noorderplaats 9
				.modal-phone
					span Tel.
					span +65 6809 5247
				.modal-email
					span E-mail
					span chartering@pola-east.com

	.nicosia-modal.modal
		.modal-inner
			.modal-img
				img(src="img/nicosia.jpg")
			.modal-info
				button.modal-close
				h3.modal-title Nicosia, Cyprus
				.modal-adress
					p Ledra House, 15 Agiou Pavlou,<br> Agios Andreas
				.modal-phone
					span Tel.
					span +000000000000
				.modal-email
					span E-mail
					span pola@pola.com

	.singapore-modal.modal
		.modal-inner
			.modal-img
				img(src="img/singapore.jpg")
			.modal-info
				button.modal-close
				h3.modal-title Singapore
				.modal-adress
					p MBFC Tower 3 #17-01,<br> 12 Marine Boulevard
				.modal-phone
					span Tel.
					span +65 6809 5247
				.modal-email
					span E-mail
					span chartering@pola-east.com
				.team-worker
					.team-worker_item
						.team-worker_img
							img(src="img/modal-photo.png")
						.team-worker_info
							.team-worker_name
								span Vilen Kachalov
								span CEO
							.team-worker_phone
								span Tel
								span 
							.team-worker_email
								span E-mail
								span 
					.team-worker_item
						.team-worker_img
							img(src="img/modal-photo.png")
						.team-worker_info
							.team-worker_name
								span Mikhail Gerasimov
								span CRO
							.team-worker_phone
								span Tel
								span +6597700104
							.team-worker_email
								span E-mail
								span Mike.gerasimov@pola-maritime.com
					.team-worker_item
						.team-worker_img
							img(src="img/modal-photo.png")
						.team-worker_info
							.team-worker_name
								span Simon Kim
								span Senior chartering manager
							.team-worker_phone
								span Tel
								span +6591063990
							.team-worker_email
								span E-mail
								span simon.kim@pola-maritime.com
					.team-worker_item
						.team-worker_img
							img(src="img/modal-photo.png")
						.team-worker_info
							.team-worker_name
								span Benoit Ratigan
								span SChartering manager
							.team-worker_phone
								span Tel
								span +6590070135
							.team-worker_email
								span E-mail
								span benoit.ratigan@pola-maritime.com

	.monaco-modal.modal
		.modal-inner
			.modal-img
				img(src="img/monaco.jpg")
			.modal-info
				button.modal-close
				h3.modal-title Monaco
				.modal-adress
					p 57 Grimaldi street, <br>«Le Panorama» building
				.modal-phone
					span Tel.
					span +000000000000
				.modal-email
					span E-mail
					span pola@pola.com

	//- div.argentina-modal.modal
		button.modal-close
		.modal-img
			img(src="img/")
		.modal-info
			h3 Buenos Aires, Argentina
			p Av Cordoba 939
			.modal-phone
				span Tel.
				span +54(9)11 6963 2204 <br> +54 11 3221 2021
			.modal-email
				span E-mail
				span pola@pola.com

	.brazil-modal.modal
		.modal-inner
			.modal-img
				img(src="img/brazil.jpg")
			.modal-info
				button.modal-close
				h3.modal-title Rio de Janeiro, Brazil
				.modal-adress
					p Rua General Venancio Flores 305, <br>sala 203
				.modal-phone
					span Tel.
					span +55 21 3547 3597
				.modal-email
					span E-mail
					span chartering@polabrasil.com.br

	.denmark-modal.modal
		.modal-inner
			.modal-img
				img(src="img/denmark.jpg")
			.modal-info
				button.modal-close
				h3.modal-title Copenhagen, DENMARK
				.modal-adress
					p Tuborg Havnevej 18,1 <br>DK-2900  Hellerup
				.modal-phone
					span Tel.
					span +45 2345 2484
				.modal-email
					span E-mail
					span chartering@pola-dk.com
