.footer-top
	.container
		.row
			.col-lg-12
				.footer-top__inner
					a(href="#")
						img(src="img/logobottom.png")
					ul.footer-menu
						li
							a(href="#") Главная
						li
							a(href="#") Сбережения
						li
							a(href="#") Займы
						li
							a(href="#") О компании
							ul
								li
									a(href="#") Новости и акции
								li
									a(href="#") Отзывы
								li
									a(href="#") Вопросы
						li
							a(href="#") Контакты					                                    
.footer-bottom
	.container
		.row
			.col-lg-12
				.footer-bottom__inner
					.row
						.col-lg-12 
							p.
								NARODNY © 2012-2018
include footer-modals.pug
a(href="#thanks" data-modal="modal")
script(src="libs/jquery/jquery.min.js")
script(src="libs/fancybox/jquery.fancybox.js")
script(src="libs/owl.carousel/owl.carousel.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug")
script(src="js/jquery.maskedinput.min.js")
script(src="libs/wow/wow.min.js")
script(src="libs/ui-slider/jquery-ui.min.js")
script(src="libs/ui-slider/jquery.ui.touch-punch.min")
script(src="js/jquery-ui-slider-pips.js")
script(src="js/select.js")
script(src="js/common.js")
