footer.footer
	.container-content
		.footer-info
			.footer-info_item.footerNav-box
				.footer-logo
					a(href="index.php")
						img(src="img/logo-footer.png")
				.footer-links
					ul.footer-menu
						li
							a(href="#") About us
						li
							a(href="#") Our fleet
					ul.footer-menu
						li
							a(href="#") Commodities and Volumes
						li
							a(href="#") Risk management
					ul.footer-menu
						li
							a(href="#") Our clients
						li
							a(href="#") Our team         
			.footer-info_item.footer-contacts
				a(href="#").countrySelect Singapure
				p MBFC Tower 3 #17-01,  <br>12 Marine Boulevard
				.footer-phone
					span Tel.:
					span +65 6809 5247
				.footer-email
					span E-mail:
					span chartering@pola-east.com
		.footer-copyright
			span Desighned Helprez
			span © 2017 Pola Group. All rights reserved


include footer-modals.pug
a(href="#thanks" data-modal="modal")
script(src="libs/jquery/jquery.min.js")
script(src="libs/fancybox/jquery.fancybox.js")
script(src="libs/owl.carousel/owl.carousel.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug")
script(src="js/jquery.maskedinput.min.js")
script(src="libs/wow/wow.min.js")
script(src="libs/ui-slider/jquery-ui.min.js")
script(src="libs/ui-slider/jquery.ui.touch-punch.min")
script(src="js/jquery-ui-slider-pips.js")
script(src="js/select.js")
script(src="libs/increment/spincrement.min.js")

script(src="js/common.js")
