
include footer-modals.pug
a(href="#thanks" data-modal="modal")
script(src="libs/jquery/jquery.min.js")
script(src="libs/fancybox/jquery.fancybox.js")
script(src="libs/owl.carousel/owl.carousel.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug")
script(src="js/jquery.maskedinput.min.js")
script(src="libs/wow/wow.min.js")
script(src="libs/ui-slider/jquery-ui.min.js")
script(src="libs/ui-slider/jquery.ui.touch-punch.min")
script(src="js/jquery-ui-slider-pips.js")
script(src="js/select.js")
script(src="js/common.js")
