header
	.header-inner.container-header
		.header-logo
			a(href="index.html")
				img(src="img/logo.png" alt="pola")
			.menu-bars
				.menu-bars_inner
					span
					span
					span
		.header-cont
			.header-cont_inner
				.header-info
					ul.header-info_item
						li Cyprus
						li +000000000
						li pm 08:12:00

					ul.header-info_item
						li Monaco
						li +000000000
						li pm 08:12:00

					ul.header-info_item
						li Singapore
						li +65 6809 5247
						li pm 08:12:00

					ul.header-info_item
						li Antwerp
						li +32 3727 1510
						li pm 08:12:00

					//- ul.header-info_item
					//- 	li Buenos Aires
					//- 	li +54 11 3221 2021
					//- 	li pm 08:12:00

					ul.header-info_item
						li Rio de Janeiro
						li +55 21 3547 3597
						li pm 08:12:00

					ul.header-info_item
						li Copenhagen
						li +45 2345 2484
						li pm 08:12:00


			nav.main-nav
				ul
					li 
						a(href="about.html") About us  
					li 
						a(href="fleet.html") Our fleet 
					li 
						a(href="volumes.html") Commodities and Volumes 
					li 
						a(href="risk.html") Risk management 
					li 
						a(href="clients.html") Our clients 
					li 
						a(href="contacts.html") Our team
