.header-top
	.container
		.row
			.col-lg-12
				.header-top__inner
					.logo-box
						.logo-boxInner
							a(href="/")
								img(src="img/logotop.png" alt="img")
					a(class="burger-box" href="#mobile-panel" data-modal="mobile-panel")
						#nav-icon
							span
							span
							span
							span
					.header-top__right
						.city-box
							a(href="#get-gorod" data-modal="modal") Калининград
				.header-top__callbox
					a(href="#order" data-modal="modal" class="btn btn_call") Заказать звонок