header
	.header-inner.container-header
		.header-top
			.header-logo
				a(href="index.html")
					img(src="img/logo.svg" alt="pola")
			.menu-bars
				.menu-bars_inner
					span
					span
					span
		.header-cont
			.header-cont_inner
				.header-info
					ul.header-info_item
						li Cyprus
						li +000000000
						li
							span.cyprus-time

					ul.header-info_item
						li Monaco
						li +000000000
						li
							span.monaco-time

					ul.header-info_item
						li Singapore
						li +65 6809 5247
						li 
							span.singapore-time

					ul.header-info_item
						li Antwerp
						li +32 3727 1510
						li
							span.antwerp-time

					ul.header-info_item
						li Rio de Janeiro
						li +55 21 3547 3597
						li
							span.rio-time

					ul.header-info_item
						li Copenhagen
						li +45 2345 2484
						li
							span.copenhagen-time


			nav.main-nav
				ul
					li 
						a(href="about.html") About us  
					li 
						a(href="fleet.html") Our fleet 
					li 
						a(href="volumes.html") Commodities and Volumes 
					li 
						a(href="risk.html") Risk management 
					li 
						a(href="clients.html") Our clients 
					li 
						a(href="contacts.html") Our team
